{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% include 'navBar.html' %}
    <div class="container mt-3 bg-white border rounded p-3">
        <h4>Generar Reporte de Solicitudes de Ruptura de Linea Base</h4>
        <hr>
        <form method="post" class="row" id="generarReporteForm">
            {% csrf_token %}
            <div class="col-6">
                {{ form.fecha_inicial|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.fecha_final|as_crispy_field }}
            </div>
            <div id="errorsFechas" class="col-12 mx-auto text-danger font-weight-bold mb-3"></div>
            <div class="col-4">
                Incluir Solicitudes:
            </div>
            <div class="col-2">
                {{ form.solicitudesPendientes|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.solicitudesAprobadas|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.solicitudesRechazadas|as_crispy_field }}
            </div>
            <div id="errorsEstados" class="col-12 mx-auto text-danger font-weight-bold mb-3"></div>
            <hr class="col-10 mx-auto">
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary">Generar Reporte</button>
            </div>
        </form>
    </div>
    <script>
    $('#generarReporteForm').submit(e=>{
        let fecha_inicial = new Date($('#id_fecha_inicial').val())
        let fecha_final = new Date($('#id_fecha_final').val());
        if(fecha_final < fecha_inicial){
            $('#errorsFechas').text('La fecha final debe ser posterior a la fecha inicial');
            e.preventDefault();
        }else{
            $('#errorsFechas').text('');
        }
        if(!($('#id_solicitudesPendientes').is(":checked")
            || $('#id_solicitudesAprobadas').is(":checked")
            || $('#id_solicitudesRechazadas').is(":checked"))){
            $('#errorsEstados').text('Seleccione al menos un estado de solicitud');
            e.preventDefault();
        }else{
            $('#errorsEstados').text('');
        }
        console.log(fecha_inicial, fecha_final)

    })
    </script>
{% endblock %}