{% extends 'base.html' %}
{% block title %}Solicitudes de Cambio{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container card px-5 py-3 mt-3">
        <div class="row">
            <h3 class="col-auto">Solicitudes de Cambio</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Linea Base</th>
                            <th>Fase</th>
                            <th>Fecha de Solicitud</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for solicitud in solicitudes %}
                        <tr>
                            <td>{{ solicitud.linea_base}}</td>
                            <td>{{ solicitud.linea_base.fase}}</td>
                            <td>{{ solicitud.fecha}}</td>
                            <td>
                                <a href="{% url 'solicitud_de_cambio' proyecto.id solicitud.id %}" class="btn btn-primary">
                                    Visualizar Solicitud
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}