{% extends 'base.html' %}
{% block title %}Votar solicitud{% endblock %}

{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <h3 class="col-12">Votar solicitud</h3>
        <hr>
        <div class="row">
            <div class="col-10 mx-auto bg-white p-3 border rounded">
            {{ solicitud }}
            <p class="lead">Que desea hacer ? </p>

            <div class="col-12">
                <div class="row">
                    <a href="{% url 'votar_solicitud' proyecto.id solicitud.id %}?voto=a_favor" class="btn btn-primary">Votar a favor</a>
                    <a href="{% url 'votar_solicitud' proyecto.id solicitud.id %}?voto=en_contra" class="btn btn-primary">Votar en contra</a>
                </div>
            </div>
        </div>
        </div>

    </div>
{% endblock %}