{% extends 'base.html' %}
{% block title %}Informacion del Proyecto{% endblock %}

{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <div class="row bg-white p-3 border rounded">
            <h3 class="col-6">Informacion del Proyecto</h3>
            <div class="col-6 text-right">
                {% if participante is not None %}
                    <a href="{% url 'visualizar_proyecto' proyecto.id %}" class="btn btn-primary bg-color-accent border-0">Visualizar Proyecto</a>
                {% endif %}
            </div>
            <hr class="col-10 mx-auto">
            <h5 class="col-4 mb-3">Nombre</h5><div class="col-8 mb-3">{{ proyecto.nombre }}</div>
            <h5 class="col-4 mb-3">Descripcion</h5><div class="col-7 text-justify mb-3">{{ proyecto.descripcion }}</div>
            <h5 class="col-4 mb-3">Estado</h5><div class="col-7 text-justify mb-3">{{ proyecto.estado }}</div>
            <h5 class="col-4 mb-3">Gerente</h5><div class="col-7 text-justify mb-3">{{ proyecto.gerente.get_full_name }}</div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-color-primary">
                        <div class="row">
                            <h5 class="col-auto text-white">Participantes</h5>
                                {% if participante %}
                                    <a href="{% url 'participantes' proyecto.id %}"
                                       class="btn btn-primary border-0 ml-auto mr-3 bg-color-accent">
                                        Gestionar Participantes
                                    </a>
                                {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr><th>Nombre</th><th>Rol de Proyecto Asignado</th></tr>
                            </thead>
                            <tbody>
                            {% for participante in proyecto.get_participantes %}
                                <tr>
                                    <td>{{ participante.usuario.get_full_name }}</td>
                                <td>{{ participante.get_rol_nombre }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header bg-color-primary">
                        <div class="row">
                            <h5 class="col-auto text-white">Comite de Cambios</h5>
                            {% if participante.get_rol_nombre == 'Gerente de Proyecto' %}
                                <a href="{% url 'asignar_miembros_comite' proyecto.id %}"
                                   class="btn btn-primary border-0 ml-auto mr-3 bg-color-accent">
                                    Asignar Comite de Cambios
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% if proyecto.get_comite_de_cambios.miembros.all %}
                            <table class="table">
                                <thead>
                                <tr><th>Nombre</th><th>Rol de Proyecto Asignado</th></tr>
                                </thead>
                                <tbody>
                                {% for miembro_comite in proyecto.get_comite_de_cambios.miembros.all %}
                                    <tr>
                                        <td>{{ miembro_comite.usuario.get_full_name }}</td>
                                        <td>{{ miembro_comite.get_rol_nombre }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h5 class="text-center">Aun no se ha asignado un Comite de Cambios para este Proyecto</h5>

                        {% endif %}

                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}