{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Asignar Rol de Proyecto{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    <div class="container mt-3">

        {% if nuevo_participante_form %}
            <h3>Agregar participante a Proyecto</h3>
            <hr>
            <form action="">
                {{ nuevo_participante_form|crispy }}
                <input type="submit">
            </form>
        {% endif %}

        {% if seleccionar_permisos_form %}
            <h3>Asignar Rol de Proyecto</h3>
            <hr>
            <div class="col-12">

                <div class="row">
                    <h5 class="col-4">Participante: </h5><p class="col-8">{{ seleccionar_permisos_form.usuario.get_full_name }}</p>
                    <h5 class="col-4">Rol de Proyecto seleccionado:</h5><p class="col-8">{{ seleccionar_permisos_form.rol.nombre }}</p>
                    <div class="col-12 border rounded px-3 px-sm-5 py-3 mb-3">
                        <h5 class="">Permisos de Proyecto</h5>
                         <p class="text-muted  mx-auto">Estos son los Permisos de Proyecto independientes de las fases del Proyecto</p>
                        <hr>
                        <ul class="">

                            {% for permiso in seleccionar_permisos_form.permisos_de_proyecto %}
                                <li>{{ permiso.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
               </div>
            </div>
            <form method="POST" class="row border rounded px-3 px-sm-5 py-3">
                {% csrf_token %}
                <h5 class="col-12">Seleccionar Permisos de Proyecto por Fase</h5>

                <p class="text-muted col-10">Seleccione los permisos de proyecto que desea que el usuario tenga dentro de cada
                Fase del Proyecto.</p>

                <div class="col-12"><hr>{{ seleccionar_permisos_form|crispy }}</div>
                <input type="submit" value="Guardar" class="mx-auto btn btn-primary">
            </form>
        {% endif %}
    </div>
{% endblock %}