{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}Crear Proyecto{%endblock title%}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <div class="row">
            <h3>Creacion de Nuevo Proyecto</h3>
            <hr class="col-12">
            <form method="POST" class="col-12 col-md-10 mx-auto row border bg-white py-4 rounded">
                {% csrf_token %}

                <div class=" col-12 text-muted mb-4 font-italic">Ingrese un nombre, una descipción y un gerente para el nuevo proyecto.<br>El gerente será el usuario a cargo del proyecto.</div>
                <div class="col-12 col-md-10 mx-auto">{{ formulario|crispy }}</div>
                <button type="submit" class="btn btn-primary bg-color-accent col-8 col-md-5 mx-auto">Crear Proyecto</button>
            </form>
        </div>
    </div>


{% endblock %}