{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Ver participante{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {{ participante.usuario.first_name }} </br>
    {{ participante.usuario.last_name }} </br>
    {{ participante.rol.nombre }} </br>
    {{participante.rol.descripcion}} </br>
    <!-- TODO: visualizar permisos por fase -->
    <!-- TODO: cambiar rol de proyecto -->
    <a href = "{% url 'eliminar_participante' proyecto.id participante.id %}" class="btn btn-primary bg-color-danger col-3 mx-auto">
        Eliminar Participante
    </a>
{% endblock %}
