{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Participantes-{{proyecto.nombre}} {% endblock %}
{% block content %}
    {% include 'navBar.html' %}
     {{ gerente.first_name }} </br>
    {{ gerente.last_name }} </br>
    Gerente </br>
   {% for participante in lista_participante %}
    {% if partipante.rol is not None %}}
    {{ participante.usuario.first_name }} </br>
    {{ participante.usuario.last_name }} </br>
    {{ participante.rol.nombre }} </br>
    {% endif %}
    {% endfor %}
{% endblock %}
