{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Participantes {{proyecto.nombre}} {% endblock %}
{% block content %}
    {% include 'navBar.html' %}
     {{ gerente.first_name }}
    {{ gerente.last_name }}
    Gerente </br>
   {% for participante in lista_participante %}
    {% if participante.rol is not None %}
    {{ participante.usuario.first_name }}
    {{ participante.usuario.last_name }}
    {{ participante.rol.nombre }} </br>
    {% endif %}
    {% endfor %}
{% endblock %}
