{% extends 'base.html' %}
{% block title %}Permisos insuficientes{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    <div class="container mt-5">
        <div class="row">

            <div class="col-12 col-md-2 offset-md-2 text-center text-md-right"><i class="fas fa-ban text-color-danger" style="font-size: 100px"></i></div>
            <div class="col-12 col-md-8 align-self-center"><h2>Permisos de Proyecto Insuficientes.</h2></div>
            <hr class="col-10 mx-auto">
            <p class="col-10 mx-auto lead">No cuenta con los permisos de proyecto para acceder a esta pagina. Por favor contacte con el gerente
            del Proyecto para solicitar los permisos correspondientes.</p>
        </div>
    </div>
{% endblock %}
