{% extends 'base.html' %}
{% block title %}Permisos insuficientes{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    <div class="container mt-5">
        <div class="row">
            <h2 class="mx-auto">Permisos de Proyecto Insuficientes.</h2>
            <hr class="col-10 mx-auto">
            <p class="col-10 mx-auto lead">No cuenta con los permisos de proyecto para acceder a esta pagina. Por favor contacte con el gerente
            del Proyecto para solicitar los permisos correspondientes.</p>
        </div>
    </div>
{% endblock %}
