{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Visualizar Proyecto{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <h3>{{ proyecto.nombre }}</h3>
        <hr>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        Fases del Proyecto
                    </div>
                    <div class="card-body">
                        <table class="table border rounded">
                            <thead>
                                <tr><th>Nombre de Fase</th><th>Estado</th><th></th></tr>
                            </thead>
                            <tbody>
                                {% for fase in proyecto.get_fases %}
                                    <tr>
                                        <td>{{ fase.nombre }}</td>
                                        <td>{% if fase.fase_cerrada %}
                                                <h4><span class="badge badge-success">Cerrada</span></h4>
                                            {% else %}
                                                <h5><span class="badge badge-primary">Abierta</span></h5>
                                            {% endif %}</td>
                                        <td>
                                            <a href="#" class="btn bg-color-accent text-white">
                                                <i class="fas fa-eye"></i> Visualizar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header">Informacion del Proyecto</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">Nombre:</div><div class="col-8">{{ proyecto.nombre }}</div>
                            <div class="col-4">Gerente:</div><div class="col-8">{{ proyecto.gerente.get_full_name }}</div>
                            <div class="col-4">Estado:</div>
                            <div class="col-8"><h5>
                                {% if proyecto.estado == 'En Configuración' %}
                                   <span class="badge badge-secondary">{{proyecto.estado}}</span>
                                    {% elif proyecto.estado == 'Iniciado' %}
                                    <span class="badge badge-primary">{{proyecto.estado}}</span>
                                {% elif proyecto.estado == 'Finalizado' %}
                                    <span class="badge badge-success">{{proyecto.estado}}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{proyecto.estado}}</span>
                                {% endif %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
