{% extends 'base.html'%}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Google Registration{%endblock title%}
{% block content %}
<div class="row col col-sm-4" style="height:30%;">
</div>
<div class="col col-sm-4 mx-auto justify-content-md-center align-items-end">
<div class="card text-center" style="height:40%;">
  <div class="card-header">
    <h1>SAIP</h1>
  </div>
  <div class="card-body d-flex align-items-center justify-content-center">
    <a href="{% provider_login_url 'google' %}">
      <button class="btn btn-primary"><i class="fab fa-google"></i> SingIn or Register</button>
    </a>
  </div>
</div>
</div>
{% endblock content %}