{% extends 'base.html' %}

{% block title %} {{ rol.nombre }}-Rol de Proyecto{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    <div class="container mt-3">
        <script>
            function confirmar_eliminacion() {
                return confirm('¿Esta seguro de que quiere eliminar este Rol de Proyecto? Una vez eliminado el Rol no podra volver atras')
            }

        </script>
        {% if messages %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                {% endif %}
            {{ message }}</div>
            {% endfor %}

        {% endif %}
        <div class="row">
            <h3 class="col-8">Rol de Proyecto</h3>

            <!-- TODO cada una de estas dos opciones debe tener su condicion para mostrarse -->
            <div class="mx-auto col-2"><a href="{% url 'editar_rol_de_proyecto' rol.id %}" class="btn btn-success ml-auto">Editar Rol</a></div>
                    <!-- TODO falta poner el link a la eliminacion -->
            <form method="POST" class="col-2" action="{% url 'eliminar_rol_de_proyecto' rol.id %}">
                {% csrf_token %}
                <input type="submit" onclick="confirmar_eliminacion()" class="btn btn-danger mr-auto"
                       {% if rol.es_utilizado %}disabled{% endif %} value="Eliminar Rol"/>
            </form>



        </div>

        <hr>
        <div class="row">
            <b class="col-3 my-2">Nombre: </b><div class="col-9">{{ rol.nombre }}</div>
            <b class="col-3 my-2">Descripcion: </b><div class="col-9">{{ rol.descripcion }}</div>
            <b class="col-3 my-2">Creador: </b><div class="col-9">{{ rol.nombre }}</div>
            <b class="col-3 my-2">Permisos de Proyecto: </b>
            <div class="col-9 row">
                {% for permiso in rol.permisos %}
                    <h5 class="mx-1"><span class="badge badge-primary">{{ permiso }}</span></h5>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}