{% extends 'base.html' %}

{% block title %} {{ rol.nombre }}-Rol de Proyecto{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        </script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                {% endif %}
            {{ message }}</div>
            {% endfor %}

        {% endif %}
        <div class="row">
            <h3 class="col-12 col-md-5">Rol de Proyecto</h3>

           {% if user.es_administrador %}
               <div class="mx-auto col-12 col-md-5">
                   <form class="row">
                       <form class="row">
                           <button {% if rol.es_utilizado %}disabled{%else%}formaction="{% url 'editar_rol_de_proyecto' rol.id %}"{%endif%}
                                   class="btn col-5 mx-auto text-white bg-color-accent btn-primary"
                                   {% if rol.es_utilizado %}
                                   data-toggle="tooltip" data-placement="bottom" title="Este Rol es utilizado por algún Usuario"
                                   {%endif%}>
                               Editar Rol
                           </button>
                           <button {% if rol.es_utilizado %}disabled{%else%}formaction="{% url 'eliminar_rol_de_proyecto' rol.id %}"{%endif%}
                                   class="btn col-5 mx-auto text-white bg-color-danger btn-danger"
                                   {% if rol.es_utilizado %}
                                   data-toggle="tooltip" data-placement="bottom" title="Este Rol es utilizado por algún Usuario"
                                   {%endif%}>
                               Eliminar Rol
                           </button>
                       </form>
                   </form>
               </div>
           {% endif %}
        </div>
        <hr>
        <div class="row">
            <b class="col-3 my-2">Nombre: </b><div class="col-9">{{ rol.nombre }}</div>
            <b class="col-3 my-2">Descripcion: </b><div class="col-9">{{ rol.descripcion }}</div>

            <b class="col-3 my-2">Permisos de Proyecto: </b>
            <div class="col-9 row">
                {% for permiso in rol.permisos %}
                    <h5 class="mx-1"><span class="badge badge-primary">{{ permiso }}</span></h5>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}