{% extends 'base.html'%}
{% block title %}Perfil de Usuario{%endblock title%}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3 ">
        <div class="row">
            {% if rs_asignado %}
            <div class="alert alert-danger col-12" hidden="true">
                <div class="text-center">
                    Si desea desasignar el Rol de Sistema <strong>"{{nombre_rs}}"</strong> al Usuario, presione
                    <form method="POST" hidden>
                        {% csrf_token %}
                        <input type="text" name="eliminar" value="1" hidden/>
                        <input id="idaqui" type="submit" class="btn btn-dark m-0 p-0" value="aquí"/>
                    </form>
                    <label for="idaqui"><strong><u>aquí</u></strong></label>
                    <button type="button" class="close" onclick="$('.alert').prop('hidden',true).change()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            <h3 class="col-12 col-sm-5 mr-auto">Perfil de Usuario</h3>
            <div class="col-12 col-sm-7">
                <div class="row justify-content-end">
                    {% if rs_asignado %}
                    <button type="button" class="btn btn-danger" onclick="$('.alert').prop('hidden',false).change()">
                        Desasignar Rol de Sistema
                    </button>
                    {% endif %}
                    <a href="{%url 'asignar_rol_de_sistema' usuario.id%}"
                       class="btn btn-primary bg-color-accent ml-1">
                        {% if rs_asignado %}Cambiar{% else %}Asignar{% endif %} Rol de Sistema
                    </a>
                </div>
        </div>
        </div>
        <div class="row bg-white mt-3 p-3 border rounded">
            <img src="{{ usuario.socialaccount_set.all.0.get_avatar_url }}" class="col-10 mx-auto col-sm-2 rounded-circle">
            <div class="col-12 col-sm-10 mt-3 row">
                <h5 class="col-4 ">Nombre:</h5><span class="col-8 lead">{{usuario.first_name}}</span>
                <h5 class="col-4">Apellido:</h5><span class="col-8 lead">{{usuario.last_name}}</span>

                <h5 class="col-4">Correo:</h5><span class="col-8 lead">{{usuario.email}}</span>
            </div>
            <hr class="col-10">
            <div class="col-12">
                <div class="row">
                    <div class="col-11 mx-auto">
                        <div class="row">
                            <h5 class="col-4">Rol de Sistema</h5>
                            {% if usuario.get_rol_de_sistema is not None %}
                                <div class="col-6">
                                    {{ usuario.get_rol_de_sistema.nombre }}
                                </div>
                                <h5 class="col-4">Permisos asignados</h5>
                                <div class="col-6">
                                    {% for ps in usuario.get_rol_de_sistema.permisos.all %}
                                        <p>{{ ps.name }}</p>
                                    {% endfor %}

                                </div>
                            {% else %}
                                <div class="col-6">El Usuario no tiene un Rol asignado en el Sistema.</div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}