{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Visualizar Fase{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <div class="row">
            {% include 'mensajes.html' %}
            <h3 class="col-12 col-md-8">{{ fase.nombre }}</h3>
            <div class="col-12 col-md-4 text-right">
                {% if proyecto.estado == 'En Configuración' %}
                    {% if 'pg_f_editar_fase' in permisos %}
                        <a href="{% url 'editar_fase' proyecto.id fase.id %}" class="btn btn-primary border-0 bg-color-accent">Editar Fase</a>
                    {% endif %}
                    {% if 'pg_f_editar_fase' in permisos %}
                        <a href="{% url 'eliminar_fase' proyecto.id fase.id %}" class="btn btn-danger border-0 bg-color-danger">Eliminar Fase</a>
                    {% endif %}
                {% elif proyecto.estado == 'Iniciado' %}
                    <a href="#" class="btn btn-primary border-0 bg-color-accent">Cerrar Fase</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card mb-3">
                        <div class="card-header bg-color-primary">
                            <div class="row">
                                <span class="col-12 col-md-8 my-auto text-white">Items de la Fase</span>
                                <div class="col-12 col-md-4 text-right">
                                    {% if proyecto.estado != 'En Configuración' %}
                                        <a href="{% url 'listar_items' proyecto.id fase.id %}" class="btn border-0 btn-primary bg-color-accent">Gestionar Items</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if fase.get_items %}
                                <div style="max-height: 300px; overflow: scroll;">
                                <table class="table border rounded">
                                    <thead>
                                    <tr><th>Nombre de Item</th><th>Tipo de Item</th><th></th></tr>
                                    </thead>

                                    <tbody>
                                    {% for item in fase.get_items %}
                                    <tr>
                                        <td>{{item}}</td>
                                        <td>{{ item.tipo_de_item }}</td>
                                        <td>
                                            <a href="{% url 'visualizar_item' proyecto.id fase.id item.id %}" class="btn bg-color-accent text-white">
                                                <i class="fas fa-eye"></i> Visualizar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                                </div>
                            {% else %}
                                <h5>Aún no se han creado Items dentro de la Fase.</h5>
                            {% endif %}

                        </div>
                    </div>
                <div class="card my-3">
                        <div class="card-header bg-color-primary">
                            <div class="row">
                                <span class="col-12 col-md-8 my-auto text-white">Líneas Base</span>
                                <div class="col-12 col-md-4 text-right">
                                    <a href="{% url 'listar_linea_base' proyecto.id fase.id %}" class="btn border-0 btn-primary bg-color-accent">Gestionar Líneas Base</a>
                                </div>
                            </div>
                        </div>
                    <div class="card-body">
                        {% if fase.get_lineas_base %}
                        <div style="max-height: 300px; overflow: scroll;">
                            <table class="table border rounded">
                                <thead>
                                <tr><th>Nombre de LB</th><th>Estado</th><th></th></tr>
                                </thead>
                                <tbody>
                                {% for lb in fase.get_lineas_base %}
                                    <tr>
                                        <td>{{lb.nombre}}</td>
                                        <td>{{lb.estado}}</td>
                                        <td>
                                            <a href="{% url 'visualizar_linea_base' proyecto.id fase.id lb.id %}" class="btn bg-color-accent text-white">
                                                <i class="fas fa-eye"></i> Visualizar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <h5>Aún no se han generado Líneas Base dentro de la Fase.</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-header bg-color-primary text-white">Informacion de la Fase</div>
                    <div class="card-body" style="max-height: 300px; overflow: scroll">
                        <div class="row">
                            <div class="col-12 h6">Nombre:</div><div class="col-12 mb-3">{{ fase.nombre }}</div>
                            <div class="col-12 h6">Descripcion:</div><div class="col-12 mb-3">{{ fase.descripcion }}</div>
                            <div class="col-5 h6">Estado:</div>
                            <div class="col-7">
                                <h5>{% if fase.fase_cerrada %}
                                        <span class="badge badge-success">Cerrada</span>
                                    {% else %}
                                        <span class="badge badge-info">Abierta</span>
                                    {% endif %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header bg-color-primary text-white">
                        <div class="row">
                            <p class="col-auto my-auto">Tipos de Item</p>
                            <a href="{% url 'tipos_de_item' proyecto.id fase.id %}"
                               class="btn btn-primary border-0 bg-color-accent p-1 ml-auto mr-2">
                                Gestionar Tipos
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            {% for tipo in fase.tipodeitem_set.all %}
                                <li class="list-group-item list-group-item-action">
                                    <a href="{% url 'tipo_de_item' proyecto.id fase.id tipo.id %}" class="text-muted">
                                        {{tipo}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
