{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Solicitud de rompimiento de linea base{%endblock title%}
{% block content %}
{% include 'navBar.html' %}
{% include 'breadcrumb.html' %}
<div class="container card mt-3 px-5 py-3">
        <form method="POST" class="row">
            <h4 class="col-4">Solicitar Ruptura de {{ linea_base }}</h4>
            <hr class="col-11 mx-auto">
            {% csrf_token %}
           <div class="col-12 col-md-10 mx-auto">
               {{solicitud_form | crispy }}
                {{ formset.management_form }}
           <h5>Cambios necesarios</h5>
               <hr>
                {% for form in formset %}
                 <div class="col-10 mx-auto">
                     {{form.item.version.nombre}}
                    {{ form | crispy }}
                 </div>
                {% endfor %}
           </div>

            <input type="submit" class="btn btn-primary bg-color-accent col-4 mx-auto" value="Generar Solicitud">
        </form>
</div>

<script>
    var len = {{len}}
</script>
<script src="{% static 'gestion_linea_base/js/scripts.js' %}"></script>
{% endblock %}