<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SAIP</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav col-md-12">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                >Modulo de Administracion <span class="sr-only">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Modulo de Desarrollo </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Modulo de Gestion de la Configuracion</a>
            </li>
            <li class="nav-item ml-md-auto">
                <a href="#" class="nav-link active"
                >{{user.email}}</a
                >
            </li>
            <li class="nav-item">
                <img class="rounded-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"  height="42" width="42"/>
                <a href= "{% url 'logout' %}" class=" btn btn-danger">Salir</a>
            </li>
        </ul>
    </div>
</nav>