{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Editar Item{%endblock title%}
{% block content %}

    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <h3 class="col-auto">{{ item }}</h3>
        <hr>
        <form method="POST" class="mx-auto col-12 col-md-10 row bg-white border rounded p-3" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="col-12">Editar Item</h3>
            <hr class="col-11">
            <div class="col-12">
                {{form_version|crispy}}
            </div>
            {% for atributo_form in atributos_forms %}
                <div class = "col-12">
                    {{atributo_form | crispy}}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary bg-color-accent col-4 col-md-4 mx-auto" value="Guardar Cambios">
            <a class="btn btn-danger bg-color-danger col-8 col-md-4 mx-auto" href="../">Cancelar</a>
        </form>

    </div>
{% endblock %}