{% extends 'base.html' %}
{% load static %}
{% block title %}Items de la Fase{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
    <div class="container mt-3">
        <div class="row">
            <h3 class="col-12">Items en Revisión de la Fase</h3><br/><br/>

            <div class="col-10 mx-auto bg-white border rounded p-3">
                <table class="table" id="lista_items">
                    <thead>
                    <tr class="text-center">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Línea Base</th>
                        <th class="text-center">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr class="item_{{ item.estado}}">
                                <td>{{ item.codigo }}</td>
                                <td>{{ item.version.nombre }}</td>
                                <td>{% if item.get_linea_base is not None %}{{item.get_linea_base}}{% endif %}</td>
                                <td class="text-center">
                                    <a href="{% url 'visualizar_item' proyecto.id fase.id item.id %}"
                                       class="btn btn-primary border-0 bg-color-accent">
                                        <i class="fas fa-eye"></i>   Visualizar</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script>
        $("#lista_items").DataTable(
            {"columnDefs": [
                    { "orderable": false, "targets": 3 }
                ],
                'language':{
            "decimal":        "",
            "emptyTable":     "No hay items para mostrar",
            "info":           '',//"Mostrando registros del  _START_ al _END_ de _TOTAL_",
            "infoEmpty":      '',//"Showing 0 to 0 of 0 entries",
            "infoFiltered":   "(filtered from _MAX_ total entries)",
            "infoPostFix":    "",
            "thousands":      ".",
            "lengthMenu":     "Mostrar _MENU_ items",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar item:",
            "zeroRecords":    "No se encontraron items",
            "paginate": {
                "first":      "Primera",
                "last":       "Ultima",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            }
        }});
    </script>
{% endblock %}