{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}Relacionar Item{%endblock title%}
{% block content %}
{% include 'navBar.html' %}
{% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <div class="row border bg-white rounded p-3">
            <h3>Relacionar Item</h3>
            <hr class="col-10">
            {% if form %}
                <form class="col-10 mx-auto" method="post">
                    <div class="row">
                        <p class="lead">Seleccione un Item con el que desea relacionar el item '{{ form.item }}'</p>
                        <div class="col-10 mx-auto">
                            {{ form|crispy }}
                        </div>
                        <input type="submit" class="btn btn-primary bg-color-accent border-0 col-3 ml-auto" value="Relacionar Items">
                        <a href="../" class="col-3 btn btn-danger bg-color-danger border-0 mr-auto ml-4">Cancelar</a>
                    </div>
                </form>

            {% else %}
                <div class="col-10 mx-auto">
                    <div class="row">
                        <h3 class="col-12">Seleccione el tipo de relacion que desea hacer</h3>
                        <p class="col-12"></p>
                        <a href="{% url 'relacionar_item' proyecto.id fase.id item.id %}?tipo=padre-hijo" class="btn btn-primary col-auto ml-auto mr-3">Relacionar con un item de la misma fase</a>
                        <a href="{% url 'relacionar_item' proyecto.id fase.id item.id %}?tipo=antecesor-sucesor " class="btn btn-primary col-auto mr-auto">Relacionar con un item de la fase anterior</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}