{% extends 'base.html' %}
{% block title %}Solicitar Aprobacion{% endblock %}

{% block content %}
    {% include 'navBar.html'%}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <div class="row bg-white p-3 border rounded">
            <h3 class="col-12">Solicitar Aprobacion de Item</h3>
            <hr class="col-10 mx-auto">
            <p class="h5 col-12">¿Esta seguro que desea Solicitar la Aprobación de este Item?</p>

            <p class="lead col-12">
                Una vez Aprobado, el item solo podrá ser modificado si este se vuelve a Desaprobar.
            </p>
            <form method="POST" class="col-12">
                {% csrf_token %}
                <div class="row">
                    <input type="submit" class="btn col-3 ml-auto mr-3 btn-primary border-0 bg-color-accent" value="Solicitar Aprobacion">
                    <a href="{% url 'solicitar_aprobacion_item' proyecto.id fase.id item.id %}?tipo=1" class="col-3 mr-auto ml-3 btn btn-danger border-0 bg-color-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}