{% extends 'base.html' %}
{% block title %}{{ item }}{% endblock %}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}
    <div class="container mt-3">
        <div class="row">
            {% include 'mensajes.html' %}
            {% if debe_ser_revisado %}
                <div class="col-12 alert alert-warning">
                    <div class="row ">
                        <div class ="col-12 text-center mb-2 text-dark">Este item se encuentra En Revisión</div>
                        <a href="{% url 'no_modificar' proyecto.id fase.id item.id %}" class ="col-auto ml-auto mr-2 btn btn btn-outline-info">Este Item no debe ser modificado</a>
                        <a href="{% url 'debe_ser_modificado' proyecto.id fase.id item.id %}" class ="col-auto mr-auto ml-2 btn btn btn-outline-danger">Este Item debe ser modificado</a>
                    </div>
                </div>
            {% endif %}
            {% if item.cambio_necesario and puede_modificar %}
                <div class="col-10 mx-auto alert alert-warning">
                    <h6>Usted ha sido asignado para modificar este item.</h6>
                    <p>El cambio requerido es: {{ item.cambio_necesario }}</p>
                </div>
            {% endif %}
            <h3 class="col-4">Item de Proyecto</h3>
            <div class="col-8 text-right">
                 {% if puede_pedir_modificacion %}
                    <a href="{% url 'solicitar_aprobacion_item' proyecto.id fase.id item.id %}" class="btn btn-success  border-0">
                        Solicitar Aprobación de Item
                    </a>

                {% elif puede_aprobar %}
                    <a href="{% url 'aprobar_item' proyecto.id fase.id item.id %}" class="btn btn-success  border-0">Aprobar Item</a>
                    <a href="{% url 'desaprobar_item' proyecto.id fase.id item.id %}" class="btn btn-danger bg-color-danger border-0">Cancelar Aprobación</a>
                {% endif %}
                {% if puede_modificar %}
                    <a href="{% url 'editar_item' proyecto.id fase.id item.id %}" class="btn btn-primary bg-color-accent border-0">Modificar Item</a>
                {% endif %}
                {% if puede_terminar_aprobacion %}
                    <a href="{% url 'aprobar_item' proyecto.id fase.id item.id %}" class="btn btn-success border-0">
                        Terminar Modificaciones
                    </a>
                {% endif %}
                {% if puede_desaprobar %}
                    <a href="{% url 'desaprobar_item' proyecto.id fase.id item.id %}" class="btn btn-danger bg-color-danger border-0">
                        Desaprobar Item
                    </a>
                {% endif %}
                {% if se_puede_eliminar and 'pp_f_eliminar_item' in permisos %}
                <a href="{% url 'eliminar_item' proyecto.id fase.id item.id %}" class="btn btn-danger bg-color-danger border-0">
                    Eliminar Item
                </a>
                {% endif %}
                {% if linea_base %}
                    <a class="btn btn-primary mr-3"
                       href="{% url 'visualizar_linea_base' proyecto.id fase.id linea_base.id %}">
                        Ver Linea Base
                    </a>
                {% endif %}
            </div>
            <hr class="col-12 mx-auto">
            <div class="col-12 ">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">
                            Información del Item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="impacto-tab" data-toggle="tab" href="#impacto" role="tab" aria-controls="impacto" aria-selected="false">
                            Cálculo de Impacto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="trazabilidad-tab"

                           data-toggle="tab" href="#trazabilidad" role="tab" aria-controls="trazabilidad" aria-selected="false">
                            Trazabilidad del Item
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        {% include 'gestion_de_item/informacion_de_item.html' %}
                    </div>
                    <div class="tab-pane fade" id="trazabilidad" role="tabpanel" aria-labelledby="trazabilidad-tab">
                        {% include 'gestion_de_item/grafo_de_item.html' %}
                    </div>
                    <div class="tab-pane fade" id="impacto" role="tabpanel" aria-labelledby="impacto-tab">
                        {% include 'gestion_de_item/calculo_de_impacto.html' %}
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}