{% extends 'base.html'%}
{% block title %}Menu Principal{%endblock title%}
{% block content %}
    {% include 'navBar.html' %}
<style>
    [data-toggle="collapse"] .fa:before {
      content: "\f077";
    }

    [data-toggle="collapse"].collapsed .fa:before {
      content: "\f078";
    }
  </style>
    <div class="container mt-3">
        <div class="row">
            <h3 class="col-8">Lista de Tipos de Item de la Fase</h3>
            <div class="col-4 row"><a href="{% url 'nuevo_tipo_de_item' proyecto.id fase.id %}" class="btn btn-primary bg-color-accent ml-auto">Crear Nuevo Tipo de Item</a></div>
            <hr class="col-12">
            <div class="col-10 mx-auto" id="lista_tipos">
                {% for tipo_de_item in lista_tipo_de_item %}
                    <div class="card col-12 my-3 p-0">
                        <div class="card-header" id="header_tipo_{{forloop.counter}}">
                            <div class="row">
                                <div class="col-auto text-dark mr-auto font-weight-bold">{{tipo_de_item.nombre}}</div>
                                <a class="btn bg-color-accent text-white font-weight-bold btn-sm" href="#">
                                    <i class="fas fa-eye"></i>
                                    &nbsp Visualizar
                                </a>
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_tipo{{forloop.counter}}" aria-expanded="false" aria-controls="list_projects">
                                    <i class="fa text-dark" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse_tipo{{forloop.counter}}" class="collapse" aria-labelledby="header_tipo_{{forloop.counter}}" data-parent="#lista_tipos">
                                <div class="card-body row">
                                    <div class="col col-sm-2">Descripción:</div>
                                    <div class="col col-sm-10"><p>Descipcion del Proyecto</p></div>
                                    <div class="col col-sm-2"><p style="text-decoration: underline;">Fecha de Creación:</p></div>
                                    <div class="col col-sm-10"><p>00/00/0000</p></div>
                                    <div class="col col-sm-2"><p style="text-decoration: underline;">Cantidad de Fases:</p></div>
                                    <div class="col col-sm-10"><p>0</p></div>
                                    <div class="col col-sm-2"><p style="text-decoration: underline;">Creador del Proyecto:</p></div>
                                    <div class="col col-sm-10"><p>Creador Salinas</p></div>
                                </div>
                            </div>
                    </div>
                {% empty %}
            No hay tipos de items para mostrar.
                {% endfor %}
            </div>
        </div>
    </div>
</ul>

{% endblock %}
