{% extends 'base.html'%}
{% block title %}Tipo de item{%endblock title%}
{% block content %}
    {% include 'navBar.html' %}
    {% include 'breadcrumb.html' %}

    <div class="container mt-3">
        <div class="row">
            <h3 class="col-8">Lista de Tipos de Item de la Fase</h3>
            <div class="col-4 row"><a href="{% url 'nuevo_tipo_de_item' proyecto.id fase.id %}" class="btn btn-primary bg-color-accent ml-auto">Crear Nuevo Tipo de Item</a></div>
            <hr class="col-12">
            <div class="col-10 mx-auto" id="lista_tipos">
                {% for tipo_de_item in lista_tipo_de_item %}
                    <div class="card col-12 my-3 p-0">
                        <div class="card-header bg-color-primary" id="header_tipo_{{forloop.counter}}">
                            <div class="row">
                                <div class="col-auto text-white mr-auto">{{tipo_de_item.nombre}}</div>
                                <a class="col-auto ml-auto mr-2 btn bg-color-accent text-white font-weight-bold btn-sm"
                                   href="{% url 'tipo_de_item' proyecto.id fase.id tipo_de_item.id %}">
                                    <i class="fas fa-eye"></i>
                                    &nbsp Visualizar
                                </a>

                            </div>
                        </div>

                    </div>
                {% empty %}
            No hay tipos de items para mostrar.
                {% endfor %}
            </div>
        </div>
    </div>
</ul>

{% endblock %}
